body {
  overflow: hidden;
  height: 100vh;
}

ul {
  list-style-type: none;
}

ul {
  cursor: default;
}

li {
  transition: all 0.3s ease 0s;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.096);
}

audio {
  width: 95%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button:hover {
  opacity: 0.8;
}

.entry-name {
  display: inline-block;
}

.entry-delete {
  display: inline-block;
}

.small-padding {
  padding: 0.25rem;
}

.ft-sz-sm {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.navbar {
  position: absolute;
  left: 0;
  /* margin: 0.25em; */
  height: 100%;
  background-color: rgb(0, 137, 137);
}

.panels {
  height: 100%;
}

.home_left {
  width: 65%;
  position: fixed;
  left: 0;
  background-color: rgb(21, 37, 38);
  border: 1px solid #bfbfbf;
  box-shadow: 10px 10px 5px #aaaaaa;
  text-align: left;
}

.home_right {
  width: 35%;
  display: inline-block;
  position: fixed;
  right: 0;
  background-color: #ffffff;
}

.container {
  padding: 2em;
}

.container_table {
  display: table;
}

.vertical_align_table_child {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.mx-wdt-150 {
  width: 50px;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.right {
  position: absolute;
  right: 0px;
}

#music_player {
  background-color: rgb(16, 29, 29);
  width: 100%;
  height: 7%;
}

.align-childs-verticaly {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 0.15em;
  padding-right: 0.75em;
}

.is_fullwidth {
  width: 100%;
}

#music_table {
  width: 100%;
  height: 70vh;
}

#list_entry {
  padding-bottom: 0.3em;
  list-style-position: inside;
  border-bottom: 1px solid rgba(119, 119, 119, 0.219);
}

.to_the_right {
  position: absolute;
  right: 0px;
  margin-right: 1em;
}

.some_margins {
  margin: 3em;
}
